################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chronical.App/obj/Debug/net6.0/Chronical.App.GeneratedMSBuildEditorConfig.editorconfig
/Chronical.App/obj/Debug/net6.0/Chronical.App.csproj.AssemblyReference.cache
/Chronical.App/obj/Debug/net6.0/Chronical.App.assets.cache
/Chronical.App/obj/Debug/net6.0/Chronical.App.AssemblyInfoInputs.cache
/Chronical.App/obj/Debug/net6.0
/Chronical.App/obj/Chronical.App.csproj.nuget.dgspec.json
/Chronical.App/obj
/Chronical.App/Properties
/Chronicle/.vs/Chronicle
/Chronicle/bin/Debug/net6.0
/Chronicle/obj/Debug
/Chronicle/obj
/Chronical.App/bin/Debug/net6.0
/Chronicle/.vs/ProjectEvaluation/chronicle.projects.v6.1
/Chronicle/.vs/ProjectEvaluation/chronicle.metadata.v6.1
/CommonLibrary/bin/Debug/net6.0
/CommonLibrary/.vs/CommonLibrary
/CommonLibrary/obj
